<main class="h-screen w-screen bg-ivory flex flex-row items-center justify-around">
    <div class="flex flex-col justify-between w-card h-card border-black border-8 bg-white text-center">
        <div class="h-[2.7cm] font-calibri">
            <!-- div.flex.flex-col.justify-around.items-center.bg-blue.w-full.h-12/20 -->
            <div class="flex flex-col justify-around items-center bg-blue w-full h-12/20">
                <p class="w-max h-max uppercase text-[16px] font-bold">chariot élévateur</p>
            </div>
            <div class="flex flex-col justify-around items-center w-full h-8/20 border-y">
                <p class="text-[14px] w-max h-max">Chaussures de sécurité</p>
            </div>
        </div>
        <div class="relative h-[6.6cm]">
            <img src="https://www.cotepro.fr/4281/chaussure-de-securite-montante-btp-jalfir-jallatte.jpg" alt="" class="absolute left-3 top-0 w-12/20">
            <img src="https://www.chaussures-pro.fr/2336-large_default/basket-de-securite-jump-500-grey-s1p-lotto-works.jpg" alt="" class="absolute right-3 bottom-0 w-12/20">
        </div>
        <div class="flex flex-row flex-wrap w-full h-[1.7cm] text-[10px] font-arial">
            <div class="h-1/3 w-1/2 border-black flex flex-col justify-around items-center border-t border-r"><p class="w-max h-max">Roue Bandage</p></div>
            <div class="h-1/3 w-1/2 border-black flex flex-col justify-around items-center border-t"><p class="w-max h-max">Catégorie 3</p></div>
            <div class="h-1/3 w-1/2 border-black flex flex-col justify-around items-center border-t border-r bg-yellow text-[8px]"><p class="w-max h-max">Chaussures de sécurité</p></div>
            <div class="h-1/3 w-1/2 border-black flex flex-col justify-around items-center border-t"><p class="w-max h-max">CACES</p></div>
            <div class="h-1/3 w-1/2 border-black flex flex-col justify-around items-center border-t border-r"><p class="w-max h-max">Catégorie 1</p></div>
            <div class="h-1/3 w-1/2 border-black flex flex-col justify-around items-center border-t"><p class="w-max h-max">Catégorie 5</p></div>
        </div>
    </div>
</main>